header h1{
    text-align: center;
}
.header__table{
    display: flex;
    justify-content: center;
}

table{
    margin-top: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th,td{
    padding: 5px 30px;
}